/* --------- RESET CSS -------- */
/* setting margin and padding to 0 will start the page in the top upper left corner.  
   This reset will clear out anything that the browser automatically sets */

   /* box-sizing: border-box tells the browser to include padding and borders in the width and height values specified for an element.
      This helps to make sure the top, bottom, left, and right, edges of an element or container are in view and not cut off */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* -------- UNIVERSAL SECTION -------- */

/* This section is used to set default values that can be used for any part of the web page */

body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: seashell;
}

h1, h2, h3, h4, h5 {
  color: seashell;
}


/* Flexbox Parent (container) */

/* Adding display: flex activates the use of flextbox and creates the container */

/* Flex-wrap: wrap means that when the screen is shrunk to a certain degree, the contents (links, images, etc.) will continue on the next line */

.container {
  display: flex;
  flex-wrap: wrap;
}

/* -------- HEADER SECTION -------- */

/* position: fixed is used to keep the header in place and on top even when the page is scrolled.  top: 0 and left: 0 are used to position
   the element in the top left position of the page.  With position: fixed or position: absolution, it is recommented to include top, left,
   right, and/or bottom properties to the ruleset. */

/* Height: 69px makes the header 69 pixels tall.  Width is sized to 100% so that regardless of whether the page is grows or shrunk, 
   the header will be as wide as the page view.  box-sizing: border-box in the RESET section helps to make sure the height and width aren't
   cut off */

/* Adding justify-content:center centers the element on the main axis (horizontal). This keeps the content centered horizontally
   regardless of whether the page grows or shrinks. adjust-items: center centers the element on the cross axis (vertical).  
   This keeps the content centered vertically regardless of whether the page grows or shrinks.  Using these together ensures the
   element is centered left to right and top to bottom.  In this case, the logo and hyperlinks are centered in the container */

/* Background color is to isolate the header area since it is fixed. Z-index: 1 is to keep the header above the rest of the web page */

/* ---Border is used to help see the parent container and how flex is used.--- */

header {
  position: fixed; 
  top: 0;
  left: 0;
  height: 69px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 4px solid hotpink; 
}


/* Flexbox Child (item) */

/* Width and height is used to size the logo. Margin-left is used to push the logo to the left so that it is not at the far left of the webpage. */
   
/* ---The border is used to show the boundaries of this child within the parent container--- */

header img {
  width: 157px;
  height: 50px;
  margin-left: 20px;
  border: 3px dotted lightgreen;
}

/* The navigation links are grouped together. Margin-left: auto is used to push the navigation links to the far right./* Margin-right: 20px keeps 
   the navigation from being pushed to far to the right end of the webpage */

/* ---The border is used to show the boundaries of this child within the parent container--- */

nav {
  margin-left: auto;
  margin-right: 20px;
  border: 3px dotted lightgreen;
}

/* Color is used for the font color of the links instead of the default blue given by the browser. Padding is used to put space between the links */

nav a {
  color: seashell;
  padding: 10px;
}

 /* -------- MISSION SECTION -------- */

 /* Margin-top is used to ensure the section starts right after the header section. */ 

 /* Width: 100% ensures the width of the image fills the container.  Height: 700px is used to set the background-image height. */
 
 /* Background-image is set to the url of the image to use.  Background-size: cover ensures the image will fill the container and not overflow 
    or be too small when the screen is resized.  Background-repeat is set to no-repeat to prevent the image from repeating if screen resized */

 /* ---Border is used to show the boundaries of this child element --- */

#mission {
  margin-top: 70px;
  width: 100%;
  height: 700px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid yellow;
} 

/* Margin-top: 325px starts the banner at 325 pixels down from the top of the mission container. Width: 100% ensures that 
   the banner will be the width of the screen regardless of resizing. */

/* Background-color is used to give a background to the banner text of visibility on the image. Text-align centers the text. The line-height 
   gives spacing between each header (don't use px for this) */

.mission-banner {
  margin-top: 325px;
  width: 100%;
  background-color: black;
  text-align: center;
  line-height: 1.5;
}

 /* -------- FEATURED SECTION -------- */

/* Width used to ensure banner is the width of the web page. Text-align centers the text for the headers.  Justify-content and align-items are 
   used to horizonally and vertically align the banner.  Padding is used  to  */

#featured {
  font-weight:bold;
  border: 4px solid orange;
  
 }

.featured-banner {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.items img {
  display: block;
  width: 300px;
  height: 200px;
  
} 

.items span {
  display: block;
  text-align: center; 
}


