/* Universal Section */

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a {
    color: seashell;
}

h1, h2, h3, h4 {
    margin:0;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Header Section */

 header {
    width: 100%;
    /*padding: 69px 0 0 0; */
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 1;
    align-items: center;
    background-color: black;
   
 }

 header img {
    height: 50px;
    padding: 0 0 0 10px;
 }

 nav {
    text-align: right;
    flex-grow: 1;
 }

 nav a {
    text-decoration: underline;
    padding: 0 25px 0 25px;
 }

 
 /* Main Section */
 main {
    padding-top: 69px;
    width: 1200px;
    margin: auto;
 }
 
 
 /* Mission Section */

 #mission {
    height: 700px;
    padding-top: 70px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
 }

 #mission .content {
    margin: auto;
    width: 100%;
    background-color: black;
 }

 /* Featured Section */

 #featured {
    height: 700px;
    width: 1000px;
    padding-top: 69px;
    margin: auto;
 }

 .item {
    padding: 5px;
 }

 .item img {
    height: 200px;
    width:300px;
    display: flex;
    margin: 10px;
 }

 .item span {
    text-align: center;
    display: flex;
 }

 /* Location Section */

 #locations {
    height: 500px;
    padding-top: 69px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
 }

 .store-location {
    width: 300px;
    height: 300px;
    padding: 40px;
    opacity: 1;
    background-color: black;
    text-align: center;
    display: flex;
 }