/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Universal Section */

body {
 font-family: Helvetica, sans-serif;
 font-size: 22px;
 color: seashell;
 background-color: black;
 opacity: 0.9;  
 text-align: center;
}

a {
    color: seashell;
}

h1, h2, h3, h4, h5 {
    color: yellow;
    text-align: center;
    font-weight: bold;
}

header .container {
    margin: 69px 0 0 10px;
    display: flex;
    background-color: black;
    position: fixed;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
    height: 50px;
}

.navbar {
    /* text-decoration: underline; */
    padding: 0 0 0 20;
    font-size: 16px;
    
}